@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
.product-list-header {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82vw;
}